
body {
  background-image: url("http://static.asiawebdirect.com/m/kl/portals/langkawi-info-com/homepage/info/weather/pagePropertiesImage/langkawi-weather.jpg.jpg");
}

.box{
  background-color: rgba(64, 143, 218, 0.712);
}

div{ 
  margin:2px 2px 2px 2px  ;

}